<div id="<%= dom_id tool_call %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= tool_call.message_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tool call:</strong>
    <%= tool_call.tool_call_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tool_call.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Arguments:</strong>
    <%= tool_call.arguments %>
  </div>
</div>
